* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
}
section {
  margin-left: auto;
  margin-right: auto;
}
header {
  margin-left: auto;
  margin-right: auto;
}
.container1 {
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.black_box {
  width: 450px;
  height: 799px;
  background: var(--Almost-Black, #151515);
}

.heading1 {
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Big Shoulders Display";
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 190px;
  margin-left: -211px;
}
.span1 {
  color: black;
}
.image1 {
  max-width: 540px;
  height: 800px;
}
.paragraph1 {
  position: absolute;
  color: var(--Dark-Grey, #444);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 1156px;
  margin-top: 190px;
}
.location_box {
  display: flex;
  position: absolute;
  margin-top: 500px;
  margin-left: 1050px;
}
.button {
  max-width: 204px;
  height: 72px;
  background: var(--Almost-Black, #151515);
  color: var(--White, #fff);
  font-family: "Big Shoulders Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.636px;
  padding: 20px;
}
.button:hover {
  background: var(--Gold, #d5966c);
}
.link {
  text-decoration: none;
  color: white;
}
.arrow {
  width: 56px;
  height: 72px;
  background-color: #d5966c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow:hover {
  background-color: black;
}

.box2 {
  flex-direction: column;
  display: flex;
  gap: 32px;
}
.photo_container {
  padding: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container2 {
  display: flex;
  gap: 125px;
}

.heading2 {
  width: 350px;
  color: var(--Almost-Black, #151515);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Big Shoulders Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
}
.paragraph2 {
  color: var(--Dark-Grey, #444);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.container3 {
  display: flex;

  max-width: 1110px;
  gap: 30px;
}
.image4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.black_box2 {
  width: 445px;
  height: 377px;
  background: var(--Almost-Black, #151515);
  gap: 32px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.heading3 {
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Big Shoulders Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
  width: 350px;
}
.paragraph3 {
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 350px;
}
footer {
  margin-top: 50px;
}
.footer1 {
  height: 244px;
  background: var(--Almost-Black, #151515);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 850px) {
  .gallery {
    width: 110.05px;
    height: 40px;
  }
  .paragraph4 {
    width: 281px;
    font-size: 16px !important;
  }
}
.footer_box1 {
  display: flex;
  gap: 100px;
}
.footer_boxs {
  display: flex;
  gap: 15px;
}
.facebook_icon {
  background-color: white;
  width: 20px;
  height: 20px;
}
.facebook_icon:hover {
  background-color: #d5966c;
}
.paragraph4 {
  color: var(--White, #fff);
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.gallery1_1 {
  display: none;
}
.gallery2_2 {
  display: none;
}
.gallery3_3 {
  display: none;
}
.gallery_heading {
  display: none;
  width: 339px;
  color: var(--Almost-Black, #151515);
  font-family: "Big Shoulders Display";
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 65px;
  text-transform: uppercase;
  position: absolute;
}
.portrait2 {
  display: none;
}

@media (max-width: 1385px) {
  .black_box {
    display: none;
  }
  .heading1 {
    display: none;
  }
  .gallery_heading {
    display: block;

    margin-top: 132px;
    margin-left: 716px;
  }
  .paragraph1 {
    margin-left: 717px;
    margin-top: 323px;
    line-height: 28px;
    width: 339px;
    font-size: 18px;
  }
  .location_box {
    margin-left: 614px;
  }
}

@media (max-width: 1130px) {
  .image2 {
    width: 398px;
    height: 400px;
  }
  .gallery1 {
    display: none;
  }
  .gallery1_1 {
    display: block;
  }
  .gallery2 {
    display: none;
  }
  .gallery2_2 {
    display: block;
  }
  .gallery3 {
    display: none;
  }
  .gallery3_3 {
    display: block;
  }

  .black_box2 {
    width: 280px;
    height: 396px;
  }
  .heading2 {
    width: 223px;
    font-size: 50px;
    line-height: 45px;
  }
  .paragraph2 {
    width: 223px;
    height: 140px;
    font-size: 18px;
    line-height: 28px;
  }
  .paragraph2 br {
    display: none;
  }
  .heading3 {
    width: 223px;
    font-size: 50px;
    line-height: 45px;
  }
  .paragraph3 {
    width: 223px;
    height: 112px;
    font-family: Outfit;
    font-size: 18px;
    line-height: 28px;
  }
  .container2 {
    gap: 62px;
  }
  .container3 {
    width: 689px;
    height: 720px;
    gap: 10px;
  }
  .photo_container {
    padding: 60px;
  }
}
.gallery1_2 {
  display: none;
}
.gallery2-2 {
  display: none;
}
.gallery3_2 {
  display: none;
}
.portrait3 {
  display: none;
}
.gallery_heading2 {
  display: none;
  width: 343px;
  height: 110px;
  color: var(--Almost-Black, #151515);
  font-family: "Big Shoulders Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 55px;
  text-transform: uppercase;
  position: absolute;
  top: 272px;
  left: 16px;
}
@media (max-width: 1055px) {
  .portrait1 {
    display: none;
  }
  .portrait3 {
    display: block;
  }
  .location_box {
    margin-left: -111px;
    margin-top: 696px;
  }
  .paragraph1 {
    margin-left: -5px;
    margin-top: 500px;
  }
  .gallery_heading {
    margin-left: -13px;
    margin-top: 300px;
  }
}

@media (max-width: 745px) {
  .footer1 {
    flex-direction: column;
    height: 300px;
  }
  .footer_box1 {
    flex-direction: column;
    gap: 38px;
  }
  .footer_boxs {
    margin-right: 185px;
  }
  .gallery1_2 {
    display: block;
  }
  .gallery2-2 {
    display: block;
  }
  .gallery3_2 {
    display: block;
  }
  .gallery3_3 {
    display: none;
  }
  .gallery2_2 {
    display: none;
  }
  .gallery1_1 {
    display: none;
  }
  .container2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
    gap: 25px;
  }
  .container3 {
    width: 343px;
    height: 1050px;
    flex-wrap: wrap;
  }
  .photo_container {
    width: 343px;
    height: 1605px;
    padding: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 199px;
  }
  .heading2 {
    width: 343px;
  }
  .image2 {
    width: 343px;
    height: 320px;
  }
  .black_box2 {
    width: 343px;
    height: 293px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .heading3 {
    width: 287px;
  }
  .paragraph3 {
    width: 295px;
    height: 84px;
  }
  .portrait2 {
    display: none;
  }
  .portrait3 {
    display: block;
  }
}
